<!-- Progress Bar -->
<div *ngIf="isLoading | async" class="overlay">
  <mat-progress-bar mode="indeterminate" class="spinner" color="warn"></mat-progress-bar>
</div>


<!-- Header -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Keep Notes</span>
  <span class="header-spacer"></span>
  <input class="form-control w-25 search" type="search" placeholder="Search" aria-label="Search" autocomplete="off"
    [(ngModel)]="searchVal" (keyup)="searchTodo()">
</mat-toolbar>

<!-- Input Part -->
<div class="container add-todo-container mt-3 mb-5 w-25">

  <mat-expansion-panel (opened)="ispanelOpen = true" (closed)="ispanelOpen = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="todo-add-inner-header2">
        Add A Todo ...
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="d-flex mx-auto">
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-sm-8 col-6">
        <mat-form-field appearance="outline" class="todo-input">
          <mat-label>Todo</mat-label>
          <input matInput [(ngModel)]="Todo.name" class="text-capitalize" placeholder="Enter Todo">
        </mat-form-field>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-4 col-6">
        <!-- Add Todo Button -->
        <button mat-icon-button (click)="addTodo()" class="text-info" matTooltip="Save New Todo"
          matTooltipPosition="above">
          <mat-icon>add</mat-icon>
        </button>

        <!-- Cancel Todo Button -->
        <button mat-icon-button (click)="cancelUpdates()" class="text-danger" matTooltip="Cancel New Todo"
          matTooltipPosition="above">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<!-- To-do Data Show -->

<section>
  <div class="container overflow-auto" style="height: 590px;">
    <div class="row d-flex justify-content-around">

      <!-- All Todo Show Part Start -->
      <ng-container *ngFor="let todo of allTodos;let i =index">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
          <mat-card>
            <mat-card-header class="d-flex justify-content-between align-items-center todo-header"
              style="padding: 0 10px; ">
              <mat-card-title>
                <span *ngIf="!todo.isEditInput" class="todo-name text-capitalize">{{ todo.name }}</span>
                <div *ngIf="todo.isEditInput" class="d-flex">
                  <input type="text" [(ngModel)]="editTodos.name">

                  <button mat-icon-button color="primary" (click)="updateTodo(todo)" matTooltip="Save Update Todo"
                    matTooltipPosition="above">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="cancelUpdates()" matTooltip="Cancel Update Todo"
                    matTooltipPosition="above">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </mat-card-title>

              <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Edit & Delete Todo"
                matTooltipPosition="above">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-icon-button color="primary" (click)="editTodo(todo)" matTooltip="Edit Todo Name"
                  matTooltipPosition="above">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteTodo(todo)" matTooltip="Delete Todo"
                  matTooltipPosition="above">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-menu>

            </mat-card-header>
            <mat-card-header style="padding: 0;">
              <div>

                <div class="d-flex mt-2">
                  <!-- Add Task Start-->

                  <button mat-icon-button (click)="toggleAddTask(todo)" matTooltip="Add New Task"
                    matTooltipPosition="above">
                    <mat-icon>add</mat-icon>
                  </button>

                  <mat-form-field *ngIf="todo.isInput" appearance="outline" class="task-input" style="width: 100%; ">
                    <input matInput [(ngModel)]="Task.name" class="task-input text-capitalize" placeholder="Enter Task">
                  </mat-form-field>

                  <button mat-icon-button *ngIf="todo.isInput" (click)="addSingleTask(todo.id)"
                    style="color: rgb(54, 131, 189);" matTooltip="Save Add Task" matTooltipPosition="above">
                    <mat-icon>save</mat-icon>
                  </button>
                  <!-- Add Task End-->
                </div>
                <!-- <mat-divider></mat-divider> -->
              </div>

            </mat-card-header>
            <mat-card-content style="height: 200px; overflow: scroll;">


              <!-- All Task Show Start -->
              <mat-list role="list" *ngFor="let task of todo.tasks">
                <mat-list-item role="listitem" class="list-item">
                  <div class="row d-flex">
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-sm-9 col-8">
                      <div class="d-inline d-flex singleTask">

                        <input type="checkbox" class="me-2" [(ngModel)]="task.isCompleted"
                          (change)="isTaskCompleted(todo.id,task)">
                        <input type="text" class="taskInput" [value]="task.name" *ngIf="!task.isTaskInput"
                          [disabled]="!task.isTaskInput"
                          style="width: -webkit-fill-available; background-color: white;">
                        <input type="text" class="taskInput" *ngIf="task.isTaskInput" [(ngModel)]="editTasks.name">

                      </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-4">
                      <div class=" show-action-btn">

                        <!-- Single Task Action Button Part -->
                        <i class="material-icons taskReturn " *ngIf="task.isTaskInput" (click)="returnEditTask(task)"
                          matTooltip="Cancel Update Task" matTooltipPosition="above">reply</i>
                        <i class="material-icons taskSave" *ngIf="task.isTaskInput" (click)="updateTask(todo.id)"
                          matTooltip="Update Task" matTooltipPosition="above">save</i>

                        <i class="material-icons taskEdit " *ngIf="!task.isTaskInput" (click)="editTask(task)"
                          matTooltip="Edit Task" matTooltipPosition="above">edit</i>
                        <i class="material-icons taskDelete" *ngIf="!task.isTaskInput"
                          (click)="deleteTask(todo.id,task)" matTooltip="Delete Task"
                          matTooltipPosition="above">delete</i>
                      </div>
                    </div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
              <!-- All Task Show End -->

            </mat-card-content>
            <mat-card-footer>
              <p class="singleListItemDate ms-3">{{ todo.addedOn | date}}</p>
            </mat-card-footer>
          </mat-card>
        </div>
      </ng-container>
      <!-- All Todo Show Part End -->

    </div>
  </div>
</section>