@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=IBM+Plex+Serif:wght@300&family=K2D:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=IBM+Plex+Serif:wght@100&family=Open+Sans:wght@100&family=Roboto:wght@100&display=swap');


::-webkit-scrollbar {
    width: 0px;
}

//------------------- for Todo Adding css -------------------
.todo-add-header {
    height: 50px;
    display: flex;
    align-items: center;

    a {
        font-size: 20px;
        color: #ABABAB;
        font-family: 'Inter';
        letter-spacing: 2px;
    }
}

.todo-add-inner-header {
    width: 40%;
}

.header-spacer {
    flex: 1 1 auto;
}

.todo-body {
    width: 40%;
}

.addTaslInnerList {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(82, 82, 82);
    border-radius: 3px;
}

.todo-header {
    background-color: rgb(180 203 233);
}

.todo-name {
    font-family: 'Castoro Titling', cursive;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    // color: #424242;
    color: black;
    // color: white;
}

//-------------------  for Loader css -------------------
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 99999;
}

.spinner {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 99999;
}

.taskEdit {
    color: #289128;
}

.taskDelete {
    color: #f44336;
}

.taskInput {
    border: none;
    outline: none;
}

.taskReturn {
    color: #f44336;
}

.taskSave {
    color: rgb(82, 172, 208);
}

.singleListItemDate {
    color: #ABABAB;
    font-family: 'Castoro Titling', cursive;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'K2D', sans-serif;
    border: none;
}

.todo-input {
    width: 100%;
}

.show-action-btn {
    display: none !important;
}

.list-item:hover .show-action-btn {
    display: inline !important;
}


//-------------------  for Media Qurey css  -------------------

@media screen and (max-width:1400px) {

    .todo-add-inner-header,
    .todo-body {
        width: 50% !important;
    }
}

@media screen and (max-width:1200px) {

    .todo-add-inner-header,
    .todo-body {
        width: 60% !important;
    }
}

@media screen and (max-width:768px) {

    .todo-add-inner-header,
    .todo-body {
        width: 95% !important;
    }
}

@media screen and (max-width:662px) {

    .todo-add-inner-header,
    .todo-body {
        width: 90% !important;
    }
}