<!-- Header -->

<nav class="navbar navbar-expand navbar-light">
    <div class="container flex-lg-row flex-md-row flex-sm-column flex-column">

        <a class="navbar-brand" href="#"><img src="../../assets/logo.png" class="mb-md-0 mb-sm-2 mb-2" style="width: 150px;"></a>

        <input class="form-control me-2 mb-md-0 mb-sm-2 mb-2 searchBox fs-5 ps-md-5" type="search" placeholder="Search" aria-label="Search">
    </div>
  </nav>


  <!-- Input Part -->

  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center taskAddBtnHeader" >
          <a class="form-control taskUpperHeader" data-bs-toggle="collapse" href="#collapseExample" aria-controls="collapseExample"
              style="text-decoration: none;">
              Task A Note ...
          </a>
        </div>
      <section class="d-flex justify-content-center">
          <div class="collapse taskBody " id="collapseExample">
                <div class="card card-body">
                  <ul class="list-group list-group-flush">
                    <li class= "list-group-item "><input type="text" class="form-control mb-1 itemTitle" name="title" id="floatingInput" [(ngModel)]="getlistArray.taskName" placeholder="Title"></li>
                    <li class="list-group-item overflow-auto"  style="height: 130px;">
                      <ul *ngFor="let itemAdd of getlistArray.taskItems; let i = index;" class="list-group list-group-flush  itemsContainer">
                        <li class="list-group-item d-flex">
                            <i class="bi bi-x-lg me-2" (click)="removeBlankItem(i)"></i>
                            <input class="form-check-input"  [(ngModel)]="itemAdd.isCompleted" type="checkbox" value="" id="flexCheckDefault">
                            <input type="text"  class=" ps-2 itemAddBtn" name="item" [(ngModel)]="itemAdd.item"  (keyup.enter)="addBlankItem()"  placeholder="List item">  
                        </li>             
                      </ul>
                    </li>
                    <ul class="d-flex justify-content-between">
                      <li class="list-group" (click)="addNewList()"><h1><i class="bi bi-file-earmark-plus-fill text-success"></i></h1></li>
                    </ul>
                    <li class="list-group-item"></li>
                  </ul>
                </div>
          </div>
      </section>
      </div>
    </div>
  </div>


  <!-- To-do List Show -->

  <section>
    <div class="container overflow-auto" style="height: 590px;">
      <div class="row d-flex justify-content-around">

        <ng-container *ngFor="let d of allListArray">
          <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card mb-3 singleListPart ">
              <div class="card-header d-flex justify-content-between align-items-center singleListHeaderPart">
                <p class="my-auto singleListHeader">{{ d.taskName }}</p>
                <div>
                  <i class=" bi bi-pencil-square btn fs-5 editBtn"></i>
                  <i class="bi bi-trash3-fill btn fs-5 deleteBtn"></i>
                </div>
              </div>
              <div class="card-body text-dark">
                <ul  class="list-group list-group-flush  singleListItemInerItems">
                  <ng-container *ngFor="let it of d.taskItems">
                    <li class="list-group-item d-flex">
                      <input type="checkbox" [checked]="it.isCompleted" class="me-2 singleListItemCheck">
                      <span class="singleListItem"><del *ngIf="it.isCompleted"> {{ it.item }} </del> <span *ngIf="!it.isCompleted">{{ it.item }}</span></span>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <div class="card-footer bg-transparent border-dark singleListItemDate">30 Dec, 2023</div>
            </div>
          </div>
        </ng-container>
       
      </div>
    </div>  
  </section>